.logo {
    grid-area: logo;
}

.menu {
    grid-area: menu;
}

.slideshow {
    grid-area: slideshow;
}

.feat1 {
    grid-area: feat1;
}

.feat2 {
    grid-area: feat2;
}

.feat3 {
    grid-area: feat3;
}

.feat4 {
    grid-area: feat4;
}

.sidebar {
    grid-area: sidebar;
}

.text {
    grid-area: text;
}

.footer {
    grid-area: footer;
}

.phoneno {
    grid-area: phoneno;
}

.blank {
    grid-area: blank;
}

.container-a {
    display: grid;
    grid-template-areas:
        'logo logo menu menu menu menu'
        'slideshow slideshow slideshow slideshow slideshow slideshow'
        'feat1 feat1 feat2 feat2 feat3 feat3'
        'sidebar sidebar text text text text'
        'footer footer footer footer footer footer';
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

.container-a>div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.container-b {
    display: grid;
    grid-template-areas:
        'logo logo logo blank phoneno phoneno phoneno phoneno'
        'menu menu menu menu menu menu menu menu'
        'slideshow slideshow slideshow slideshow slideshow slideshow slideshow slideshow'
        'feat1 feat1 feat2 feat2 feat3 feat3 feat4 feat4'
        'text text text text text sidebar sidebar sidebar'
        'footer footer footer footer footer footer footer footer';
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

.container-b>div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}