body {
    background-color: azure;
    margin: 0;
}




#menu {
    position: sticky;
    top: 0;
    padding: 5px;
    justify-content: space-between;
    display: flex;
    background-color: #B3E5FC;
}

#menu_logo {
    width: 20%;
}

#menu_logo a {
    text-decoration: none;
}

#menu_logo a div {
    display: flex;
    padding: 3px;
}

#menu_logo a div h3 {
    padding: 5px;
}

#menu_bar {
    display: flex;
    width: 80%;
    align-items: center;
}

#menu_bar a {
    text-decoration: none;
    display: flex;
    color: black;
    font-size: large;
    font-weight: bolder;
}

#menu_bar a:hover {
    color: #01579B;
}

#menu_bar div a img {
    max-width: 50%;
}

#menu_bar div {
    display: flex;
    width: 20%;
}

#menu_about {
    padding-left: 40%;
}

#home {
    justify-content: space-between;
    display: flex;

}

#home div {
    width: 50%;
    padding: 3%
}

#home div div h1 {
    font-size: 300%;
}

#home div div h2 {
    color: rgb(126, 126, 126);
}

#home div img {
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

#about_us {
    justify-content: space-between;
    display: flex;
}

#about_us_left,
#about_us_right {
    width: 50%;
}

#about_us div img {
    position: relative;
    left: -200px;
    max-width: 500px;
}

#about_us div h1 {
    padding-top: 25%;
    font-size: 300%;
}

#about_us div h2 {
    font-size: 300%;
    padding-left: 35%;
    margin-bottom: 0;
}

#about_us div p {
    font-size: 100%;
    margin-top: 0;
    padding-left: 40%;
    color: rgb(172, 172, 172);
}

#our_doctors h1 {
    font-size: 300%;
    padding-left: 10%
}

.doctors {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
}

.doctors1 {
    width: 30%;
}

.doctors1 img {
    max-width: 350px;
}

.info {
    display: flex;
    justify-content: space-between;
}

.info div {
    width: 50%;
}

.info div img {
    max-width: 15px;
}

.button {
    background-color: #03A9F4;
    color: white;
    width: 100%;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 25px;
}

.button :hover {
    background-color: #0307f4;
    color: white;

}

#location {
    display: flex;
    background-image: url("../images/bg_loca.png");
    background-position: -50px;
    background-repeat: no-repeat;
}

.loca {
    width: 50%;
    padding-top: 10%;
    padding-left: 5%;
}

#location h3 {
    padding-left: 5%;
    margin-bottom: 0;
}

#map {
    max-height: 80%;
    align-items: center;
    padding-left: 5%;
}

#location h1 {
    font-size: 300%;
    padding-left: 5%;
}

.loca_info {
    display: flex;
    padding-left: 5%;
}

.loca_phone {
    display: flex;
    align-items: center;
    padding: 3px;
}

.loca_phone div {
    padding: 3px;
}

#last {
    border-bottom: 1px black solid;

}

.appointment {
    background-image: url("../images/Appointment.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.appointment_logo {
    display: flex;
    padding-left: 5%;
    width: 30%;
}

.topic {
    position: absolute;
    top: 7%;
    left: 44%;
    color: #01579B;

}

#select {
    padding: 10px;
    font-size: medium;
    border-radius: 20px;
    background-color: #9CDBFF;
}


input {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: #03A9F4;
    ;
    padding: 3px;
}

.box {
    display: flex;
    justify-content: center;
}

.box2 {
    padding: 2px;
}

.button_appointment {
    padding: 1.25rem 2.25rem;
    font-size: 0.85rem;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 10rem;
    background-color: #03A9F4;
    text-decoration: none;
}

#thank {
    padding-top: 10%;
    text-align: center;
}

#thank img {

    width: 200px;
}

.appointment a {
    text-decoration: none;
}

#Doctor {
    background-image: url("../images/Appointment.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
}

.doctor_div {
    width: 30%;
}

#Doctor a {
    text-decoration: none;
}

#doctor_left {
    display: flex;
    flex-direction: column;
}

.doctor_left_1 {
    width: 20%;
}

#doctor_center {
    padding-top: 3%;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 5%;
}

#john {
    font-size: xx-large;
}

#doctor_map {
    text-align: left;
    padding-top: 13%;
}

#doctor_center h2 {
    color: #2F00B5;
}

#doctor_center p {
    color: #FF6D33;
}


.appointment h2 {
    color: #03A9F4;
}

#sign_up {
    background-image: url("../images/Appointment.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

#sign_up a {
    text-decoration: none;
}

#sign_top {
    display: flex;
    padding: 3px;
}

.sign_top_logo {
    width: 20%;
}

#from {
    padding-left: 25%;
    text-align: left;
}

.sign_up_box {
    display: flex;
}

.sign_up_box2 {
    padding: 10px;
}

#sign_up_phone {
    padding-left: 20%;
}

#sign_up_button {
    padding-left: 25%;
}

.facility {
    display: flex;
    text-align: left;
    padding-top: 2%;
}

.facility_pic {
    width: 30%;
    padding: 2% 0px 0px 5%;
}

.facility_word {
    width: 60%;
    padding-top: 5%;
}

.facility_h1 {
    color: #2F00B5;
}

.facility_h3 {
    color: #3000b594;
}

#facility_bg {
    background-image: url("../images/Facility_bg.jpg");
}

#facility_2_pic {
    width: 40%;
}

#facility_2_word {
    width: 60%;
    padding-left: 5%;
}

#back_to_top {
    position: fixed;
    bottom: 20px;
    right: 10px;
    display: none;
}

@media screen and (max-width: 600px) {
    #menu {
        display: block;
    }

    #menu_logo {
        padding-left: 15%;
    }

    #menu_bar {
        width: 100%;
    }

    #menu_about {
        padding-left: 0%;
    }

    #home div {
        width: 100%;
    }

    #home_right,
    #about_us_pic,
    #map {
        display: none;
    }

    #home {
        background-image: url("../images/home_bg_phone.png");
        background-size: cover;
        background-repeat: no-repeat;
    }

    #about_us_left {
        width: 0;
    }

    #about_us_right {
        width: 100%;
        text-align: center;
    }

    #about_us div h2,
    #about_us div p {
        padding-left: 0%;
    }

    .doctors1 {
        width: 100%;
        margin-bottom: 10%;
    }

    .doctors {
        display: block;

    }

    .doctors1 img {
        max-width: 300px;
    }

    #location {
        background-image: none;
        background-color: #F3F2F0;
        display: block;
    }

    .loca {
        width: 100%;
        padding-left: 0%;
    }

    #back_to_top {
        display: block;
    }

    #our_doctors {
        text-align: center;
    }

    #our_doctors h1 {
        padding-left: 0%;
    }

    #menu_bar a {
        font-weight: normal;
        padding: 5%
    }

    #Doctor {
        display: block;
        background-color: #b3e5fc79;
        background-image: none;
    }

    #doctor_img {
        max-width: 300px;
    }

    .doctor_div {
        width: 100%;
    }

    #doctor_map {
        text-align: center;
        background-color: #b3e5fc53;
    }

    .sign_top_logo {
        width: 100%;
    }

    .topic {
        position: relative;
        top: 0;
        left: 0;
    }

    .box {
        display: block;
    }

    .button_appointment {
        padding: 1.25rem 6.25rem;
    }

    .appointment,
    #facility_bg {
        background-image: none;
    }

    .facility,
    .sign_up_box {
        display: block;

    }

    .facility_pic,
    .facility_word {
        width: 100%;
    }

    .facility_h1,
    .facility_h3 {
        padding-left: 3%;
    }

    .facility_pic {
        max-width: 300px;
        padding-left: 8%;
    }

    #from {
        padding-left: 0%;
    }

    #sign_up_phone,
    #sign_up_button {
        padding-left: 10px;
    }
}