.body_color {
    background-color: azure;
}

.container_index {
    margin: auto;
    max-width: 1200px;
}

#menu_bar {
    display: flex;
    width: 80%;
    align-items: center;
}

#menu_bar a {
    text-decoration: none;
    display: flex;
    color: black;
    font-size: large;
    font-weight: bolder;
}

#menu_bar a:hover {
    color: #01579B;
}

#menu_bar div a img {
    max-width: 50%;
}

#menu_bar div {
    display: flex;
    width: 20%;
}

#menu_about {
    padding-left: 40%;
}

#home {
    justify-content: space-between;
    display: flex;
    background-image: url("../images/bg_menu.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

#home div {
    padding: 3%
}


#home div div h1 {
    font-size: 300%;
    padding-top: 8%;
}

#home div div h2 {
    color: rgb(126, 126, 126);
}

#home div img {
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

#about_us {
    justify-content: space-between;
    display: flex;
}

#about_us_left,
#about_us_right,
.home_left_right {
    width: 50%;
}

#about_us div img {
    position: relative;
    left: -75px;
    max-width: 500px;
}

#about_us div h1 {
    padding-top: 25%;
    font-size: 300%;
}

#about_us div h2 {
    font-size: 300%;
    padding-left: 35%;
    margin-bottom: 0;
}

#about_us div p {
    font-size: 100%;
    margin-top: 0;
    color: rgb(172, 172, 172);
}

#padding_0 {
    padding-left: 40%;
}

#our_doctors h1 {
    font-size: 300%;
    padding-left: 10%
}

#our_doctors {
    padding-top: 10%;
}

.doctors {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
}

.doctors1 {
    width: 30%;
}

.doctors1 img {
    max-width: 350px;
}

.info {
    display: flex;
    justify-content: space-between;
}

.info div {
    width: 50%;
}

.info div img {
    max-width: 15px;
}

.button {
    background-color: #03A9F4;
    color: white;
    width: 100%;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 25px;
}

.button:hover {
    background-color: #5703f4b0;
    color: #000000;
}

.margin_change{
    margin-top: 16px;
    margin-bottom: 16px;
}

#location {
    display: flex;
    background-image: url("../images/bg_loca.png");
    background-position: -50px;
    background-repeat: no-repeat;
}

.loca {
    width: 50%;
    padding-top: 10%;
    padding-left: 5%;
}

#location h3 {
    padding-left: 5%;
    margin-bottom: 0;
}

#map {
    max-height: 80%;
    align-items: center;
    padding-left: 5%;
}

#location h1 {
    font-size: 300%;
    padding-left: 5%;
}

.loca_info {
    display: flex;
    padding-left: 5%;
}

.loca_phone {
    display: flex;
    align-items: center;
    padding: 3px;
}

.loca_phone div {
    padding: 3px;
}

#last {
    border-bottom: 1px black solid;

}

.appointment {
    background-image: url("../images/Appointment.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.appointment_logo {
    display: flex;
    padding-left: 5%;
    width: 30%;
}

.topic {

    color: #01579B;

}

#select {
    padding: 10px;
    font-size: medium;
    border-radius: 20px;
    background-color: #9CDBFF;
}


input {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: #03A9F4;
    ;
    padding: 3px;
}

.box {
    display: flex;
}

.box2 {
    padding: 2px;
    width: 50%;
}

.button_appointment {
    padding: 1.25rem 2.25rem;
    font-size: 0.85rem;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 10rem;
    background-color: #03A9F4;
    text-decoration: none;
    color: white;
}

.button_appointment:hover {
    background-color: #5703f4b0;
    color: #000000;
}

.input_container {
    display: flex;
}

.input_box {
    width: 33%;
}

#appointment_date,
.appointment_time,
.box {
    width: 100%;
}

#thank {
    padding-top: 10%;
    text-align: center;
}

#thank img {

    width: 200px;
}

.appointment a {
    text-decoration: none;
}

#Doctor {
    background-image: url("../images/Appointment.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;

}

#Doctor_box {
    display: flex;
}



#Doctor a {
    text-decoration: none;
}

#doctor_left {
    display: flex;
    flex-direction: column;
}

.doctor_left_1 {
    width: 20%;
}

#doctor_center {
    padding-top: 3%;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 5%;
}

#doctor_img {
    max-width: 400px;
    padding-top: 15%;
}

#john {
    font-size: xx-large;
}

#doctor_map {
    text-align: left;
    padding-top: 13%;
}

#doctor_center h1 {
    color: #2F00B5;
}

#doctor_center h3 {
    color: #FF6D33;
}


.appointment h2 {
    color: #03A9F4;
}

#sign_up {
    background-image: url("../images/Appointment.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

#sign_up a {
    text-decoration: none;
}

#sign_top {
    display: flex;
    padding: 3px;
}

.sign_top_logo {
    width: 20%;
}

#from {
    padding-left: 25%;
    text-align: left;
}

.sign_up_box {
    display: flex;
    padding-top: 5%;
}

#sign_up_input_box {
    width: 80%;
    text-align: left;

}

#input_box_20 {
    width: 20%;
}

.sign_up_box2 {
    width: 40%;
    padding-right: 2%;
}

.sign_up_box3 {
    width: 100%;
}


.contact_email {
    width: 80%;
}

#sign_up_button {
    padding-left: 25%;
}

.facility {
    display: flex;
    text-align: left;
    padding-top: 2%;
}

.facility_pic {
    width: 30%;
    padding: 2% 0px 0px 0%;
}

.facility_word {
    width: 60%;
    padding-top: 5%;
}

.facility_h1 {
    color: #2F00B5;
}

.facility_h3 {
    color: #FF6D33;
}

#facility_bg {
    background-image: url("../images/Facility_bg.jpg");
}

#facility_2_pic {
    width: 40%;
}

#facility_2_word {
    width: 60%;
    padding-left: 5%;
}

#back_to_top {
    position: fixed;
    bottom: 20px;
    right: 10px;
    max-width: 150px;
}

.no_underline {
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 768px) {
    #menu {
        display: block;
    }

    #menu_logo {
        padding-left: 15%;
    }

    #menu_bar {
        width: 100%;
    }

    #menu_about {
        padding-left: 0%;
    }

    #home div {
        width: 100%;
    }

    #home_right,
    #about_us_pic,
    #map {
        display: none;
    }

    #home {
        background-image: url("../images/home_bg_phone.png");
        background-size: cover;
        background-repeat: no-repeat;
    }

    #about_us_left {
        width: 0;
    }

    #about_us_right {
        width: 100%;
        text-align: center;
    }

    #about_us div h2,
    #about_us div p {
        padding-left: 0%;
    }

    .doctors1 {
        width: 100%;
        margin-bottom: 10%;
    }

    .doctors {
        display: block;

    }

    .doctors1 img {
        max-width: 300px;
    }

    #location {
        background-image: none;
        background-color: #F3F2F0;
        display: block;
    }

    .loca {
        width: 100%;
        padding-left: 0%;
    }

    #back_to_top {
        max-width: 85px;
    }

    #our_doctors {
        text-align: center;
    }

    #our_doctors h1 {
        padding-left: 0%;
    }

    #menu_bar a {
        font-weight: normal;
        padding: 5%
    }

    #Doctor {
        display: block;
        background-color: azure;
        background-image: none;
    }

    #doctor_img {
        max-width: 300px;
        padding-top: 0;
    }

    .doctor_div {
        width: 100%;
    }

    #doctor_map {
        display: none;

    }

    .sign_top_logo {
        width: 100%;
    }

    .box {
        display: block;
    }

    .button_appointment {
        padding: 1.25rem 6.25rem;
    }

    .appointment,
    #facility_bg {
        background-image: none;
    }

    .facility,
    .sign_up_box {
        display: block;

    }

    .facility_pic,
    .facility_word {
        width: 100%;
    }

    .facility_h1,
    .facility_h3 {
        padding-left: 3%;
    }

    .facility_pic {
        max-width: 300px;
        padding-left: 10%;
    }

    #from {
        padding-left: 0%;
    }

    #sign_up_button {
        padding-left: 10px;
    }

    .sign_up_box2 {
        width: 80%;
    }

    #Doctor_box,
    #doctor_left {
        display: block;
    }

    #doctor_center{
        padding-bottom: 5%;
    }
}